.DS_Store
.swp

.ipynb
.ipynb_checkpoints

env

# Pycaches
__pycache__

# Downloaded files
backend/storage

# Built frontend and node packages
front/.next/
front/node_modules
front/.env

.prettierignore
.prettierrc

*.env
