.DS_Store
.swp

.ipynb
.ipynb_checkpoints

env

# Pycaches
__pycache__

# Downloaded files
backend/storage

# Built frontend and node packages
frontend/node_modules/
frontend/public
frontend/.cache/

.prettierignore
.prettierrc

*.env
